<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>event/BViewController/点击返回到A</key>
	<string>Id_B</string>
	<key>event/AViewController/点击跳转到B</key>
	<string>Id_A</string>
</dict>
</plist>
